body {
  background-color: #cecef9;
  font-family: 'Overpass', sans-serif;
}
.abt {
  margin:0 auto;
  text-align:center;
  font-size:50px;
}

img {
  max-width:500px;
  position:relative;
}
.paris {
  top:200px;
  left:100px;
}

.gf {
  right:100px;
  top:150px;
}
