body {
  background-color: #cecef9;
  font-family: 'Overpass', sans-serif;
}
.abt {
  text-align:center;
  font-size:50px;
}

img {
  max-width:500px;
  position:relative;
}
.paris {
  top:-50px;
  left:-50px;
}

.gf {
  right:100px;
  top:-120px;
}

.vsa {
  top:-600px;
  right:-900px;
}

.des {
  text-align:center;
  font-size:50px;
  top:-720px;
}

.tote {
  top:-700px;
  right:-70px;
}

.jck {
  max-width:350px;
  top:-720px;
  right:-60px;
}

.pxl {
  max-width:440px;
  top:-720px;
  right:-80px;
}
.me {
  max-width:350px;
  top:-700px;
  right:-30px;
}

.art {
  max-width:340px;
  top:-700px;
  right:-200px;
}
.pho {
  max-width:350px;
  top:-700px;
  right:-300px;
}
.lip {
  max-width:400px;
  top:-650px;
  right:-30px;
}
.viet {
  max-width:400px;
  top:-650px;
  right:-130px;
}
.hail {
  max-width:300px;
  top:-650px;
  right:-230px;
}
.aseul {
  max-width:350px;
  top:-700px;
  right:-40px;
}
.lofi {
  max-width:320px;
  top:-700px;
  right:-200px;
}
.jap {
  max-width:350px;
  top:-700px;
  right:-300px;
}
.gbm {
  max-width:420px;
  top:-650px;
  right:-20px;
}
.scpt {
  max-width:420px;
  top:-650px;
  right:-80px;
}

.wish {
  max-width:420px;
  top:-650px;
  right:-130px
}
